

.yarı-saydam-div {
    color: #fff;
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.763); /* R: 255, G: 255, B: 255, Alpha: 0.5 */
    border: 1px solid #ccc; /* Optional: You can add a border */
    transform: scale(1.3);
    border-radius: 10px;;
}
